                        <tr>
                            <th>پروژه اصلی:</th>
                            <td>{{ subproject.project.name }}</td>
                        </tr>
                        <tr>
                            <th>جمع مبلغ قرار دادها:</th>
                            <td>{{ subproject.project.get_total_contract_amount|floatformat:0|intcomma }} ریال</td>
                        </tr>
                        <tr>
                            <th>مرحله جاری پروژه:</th>
                            <td>{{ subproject.get_project_stage_display }}</td>
                        </tr> 